
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#canvas {
    background-color: black;
}

/*responsivity*/
@media (min-width: 1024px){
    body {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
}
