
body {
    background-color: #555;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25pt;
    font-weight: 900;
}

#screen {
    margin: auto;
    position: relative;
}

#score {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
}

#ball, #player1, #player2 {
    position: absolute;
    border: 1px solid white;
}